@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;300;600&family=Roboto:wght@300&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Poppins:wght@100&display=swap');
.mainfile {
  display: flex;
  justify-content: center;
    align-items: center;
    background-image: url("../../assets/backgroundImage.png");
    background-position: center;
    height: 90vh;
}
.arrow-top{
    position: relative;
    left: 2px;
}
.bigheader{
    width: auto;
    margin: 0 100px;
}
.bigheader h1{
    text-align: center;
    color:#fff6f6;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 64px;
    font-size: 55px;
}

.paragraph {
    text-align: center;
    color:#fff6f6;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    padding-top: 25px;
    width: 75vw;
}
.button-consultation button{
    cursor: pointer;
    align-items: center;
    padding: 8px 22px;
    border-radius: 4px;
    background-color: #F76C24;
    color: #fff6f6;
    border: none;
    font-weight: 600;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    width: 300px;
}

.button-consultation {
    text-align: center;
    margin-top: 30px;
}
.side-logo-main{
    height: 40px;
    width: 40px;
    background-color:  white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    cursor: pointer;
}
.top-main-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-page-cards{
    margin-top: -200px;
}
@media(max-width:1470px){
    .all-logo-side{
        margin-left: 30px;
    }
}
@media(max-width:1243px){
    .top-page-cards{
        transform: scale(0.85);
    }
}
@media(max-width:1077px){
    .all-logo-side{
        display: none;
    }
    .bigheader{
        margin: 0;
    }
    .paragraph{
        margin: auto;
    }
    .bigheader h1{
        margin: 0 50px;
    }
}
@media(max-width:1243px){
    .top-page-cards{
        display: none;
    }
}
@media(max-width:549px){
    .all-logo-side{
        display: none;
    }
    .bigheader{
        margin: 0;
    }
    .paragraph{
        margin: auto;
    }
    .bigheader h1{
        margin: 0 50px;
    }
    .mainfile{
        height: auto;
        padding: 80px 0;
    }
}
@media(max-width:432px){
    .top-main-page{
        transform: scale(0.85);
    }
    .mainfile{
        padding: 0;
    }
}
@media(max-width:368px){
    .top-main-page{
        transform: scale(0.8);
    }
    .mainfile{
        padding: 0;
    }
}