
  

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@100;300;600&family=Roboto:wght@300&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300&display=swap');
.quote{
    display: flex;
    align-items: center;
    background-image: url(../../assets/Mask-group.png);
    background-position: center;
    height: 470px;
    margin-bottom: 100px;

}

.form-s{
       margin-left: 150px;
      
     
}
.form-s form {
    background-color: #ffffff;
    width: 380px;
    height: 520px;
    box-shadow: 2px 3px 15px rgb(126, 124, 124);
   

}
.form-i{
    text-align: center;
    padding-top: 50px;
    
}

.form-i h1{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;

    
}
.form-m{
    margin-top: 30px;
    height: 30px;
    display: block;
    text-align: center;
    
}

.form-m input{
    padding: 6px;
    width: 300px;
    height: 50px;  
    font-family: 'DM Sans', sans-serif; 
}
.form-m select{
    padding: 6px;
    width: 300px;
    height: 50px;  
    font-family: 'DM Sans', sans-serif;
}
.form-m option{
    font-family: 'DM Sans', sans-serif;
}



.button-sub{
    margin-top: 70px;
}

.button-sub button{
    cursor: pointer;
    padding: 8px 22px;
    border-radius: 4px;
    background-color: #ff4500;
    color: #fff6f6;
    border: none;
    width: 300px;
    font-family: 'Poppins', sans-serif;
}
.sentence-d{
    margin-left: 300px;
    color: #dfdfdf;
    text-decoration: underline #F76C24;
    line-height: 50px;
    cursor: pointer;
}

.sentence-d h5{
    font-weight:600;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    
}
 
textarea{
    height: 80px;
    width: 300px;
}
