.pura-form{
  display: flex;
  flex-wrap: wrap;
}
.form-modal {
  width: max-content;
  border-radius: 8px;
  box-shadow: 2px 3px 15px rgb(126, 124, 124);
  padding: 40px;
  background-color: white;
  transform: scale(0.85);
}
.reach-us-head {
  color: rgba(47, 48, 69, 1);
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
}
.name-wa {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  justify-content: space-between;
}
.form-control {
  font-size: 0.85rem;
  height: 40px;
  width: 70%;
  outline: none;
}
.submit-btn-ru {
  background-color: rgba(247, 108, 36, 1);
  color: white;
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}
.submit-btn-ru:hover {
  background-color: rgba(169, 51, 46, 1);
}
.form-check-input:checked {
    background-color: rgba(247, 108, 36, 1);
    border-color: rgba(247, 108, 36, 1); 
    outline: none;
  }
  .form-check-input{
    border: 0.1px solid rgba(247, 108, 36, 1);
  }

  .form-check-input:focus {
    box-shadow: none;
  }
  .form-control:focus {
    border-color: rgba(247, 108, 36, 1); 
    box-shadow: none;
  }

  @media(max-width:625px){
    .form-modal {
      transform: scale(0.7);
    }
  }
  @media(max-width:500px){
    .form-modal {
      transform: scale(0.6);
    }
  }
