@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Poppins:wght@300;600&family=Roboto&display=swap');

.erp-header-h{ 
    background-image: url(../../assets/Journal.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px; 
}

.erp-header-h h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
}

.erp-litag-h ul{
    color: #ffffff;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'DM Sans', sans-serif;
    font-weight: 900px;
    font-size: 19px;
    margin-left: 10px;
    text-align: center;   
}

.erp-litag-h span{
    color: #F76C24;
    size: 10px;
    list-style-type: circle;
}

.erp-litag-h li img{
    text-align: center;
    padding-left: 17px;
}
    .res-erp-h{
        background-image: url(../../assets/Mask-group.png);
        height: 400px;
        margin-bottom: 100px;
    
    }   
.feat-s-h h6{
    text-align: center;
    color: orangered;  
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
}
.heading-h h3{
    position: relative;
    top: 20px;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
}
.feat-s-h p{
    font-size: 30px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
     text-align: center;
     font-family: 'Poppins', sans-serif;
}
.card-e-h{
    display: flex;
    margin-left: 80px;   
    cursor: pointer;
}
.card-e-h img{
          height: 283px;
          width: 230px;
      margin: 30px;
      margin-top: 110px;  
}
.card-e-h img:hover{
  
    filter: brightness(50%);
   
   cursor: pointer;
}

.card-e-h h4{
    position: relative;
    bottom: 165px;
  text-align: center;
margin-right: 58px;
  color: white;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.card-e-h p{
    position: relative;
    bottom: 165px;
margin-left:50px;
margin-right: 120px;
  color: white;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}
.setence-drs-h h6{
  text-align: center;color: #F76C24;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
.setence-drs-h p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.setence-drs-h h5{
    line-height: 80px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.setence-drs-h {
    margin-bottom: 100px;
    margin-top: 200px;
}
.point-h {
  position: relative;
  top: 55px;
  right: 50px;
}
.line-h{
    position: relative;
    top: 8px;
    right: 100px;
    width: 1340px;
}
.sentence-dr-h{
    margin-top: 80px;
    margin-left: 200px;
}

.mission-i-h{
    display: inline-flex;
    margin: 50px 80px  110px 110px;
}
.tes-m-h h6{
    font-size: 15px;
    color: #ff4500;
    font-weight: 600; 
    font-family: 'Poppins', sans-serif;
}
.tes-m-h h2{
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.tes-m-h p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin-right: 50px;

}
.tes-m-h p span{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
.dir-m-h img{
    position: relative;
    height: 50px;
    width: 50px;
}
.dir-m-h p{
    position: relative;
    line-height: 30px;
    left: 60px;
    bottom: 30px;
    font-size: 14px;
}

.dir-m-r-h {

    display: flex;
    align-items: center; 
    justify-content: flex-start;
    } 
    .arrow-top-h{
        position: relative;
        top: 4px;
        left: 5px;
    }

.hrm-i {
position: relative;
top: 50px;
left: 40px;
}
.hrm-i img{
    height: 600px;
    width:585px;
    
}
.gr-h h4{
    position: relative;
    right:90px;
}
.gr-h p{
    position: relative;
    right: 60px;
    padding-right: 60px;
    padding-left: 50px;

}
.gr-hi h4{
    position: relative;
    left: 30px;

}
.gr-hi p{
    position: relative;
   left: 35px;
}

.gr-hh h4{
    position: relative;
    left: 6px;

}
.gr-hh p{
    position: relative;
   left: 10px;
}



    .dir-m-r-h img{
        position: relative;
      bottom: px;
        height: 50px;
        width: 50px;
    }
    
    .dir-m-r-h p{
        display: flex;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        
    }
.direct-h{
    margin-right: 10px;

}

.button-get-h button{
    cursor: pointer;
    padding: 8px 22px;
    border-radius: 4px;
    background-color: #ff4500;
    color: #fff6f6;
    border: none;
    font-family: 'Poppins', sans-serif;

}
.button-get-h{
    margin-top: 20px;
}
.groupE img{
    margin-top: 70px;
   height: 575px;
   width: 700px;
}
.down-h {
    padding-left: 10px;
   }

    .dir-m-h img{
        position: relative;
        bottom: 14px;
    }





    .indst-h {
        display: flex;
    }
    .gr-t-h img{
    height: 331px;
    width: 544px;
    margin-top: 110px;
    }

    .gr-l-h {
      position: relative;
      margin-top: 45px;
      left: 800px;
    }
    .gr-l-h img{
            width: 201px;
            height: 165px;
    }
    .gr-li-h img{
            height: 535px;
            width: 400px;
    }
    .gr-r-h{
        position: relative;
        top: 270px;
        right: 75px;
    }
    .gr-r-h p{
        position: absolute;
        top: 110px;
        left: 130px;
        color: white;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    .gr-r-h img{
        height: 268px;
        width: 769px;
    }
    .gr-li-h {
        position: absolute;
        right: 900px;
    }
    .gr-li-h p{
        position: absolute;
        top: 200px;
        left: 00px;
        color: white;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    .gr-li-n-h {
        position: absolute;
        right: 100px;
    }
    .gr-li-n-h p{
        position: absolute;
        top: 100px;
        left: 130px;
        color: white;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    .gr-li-n-h img{
        width: 390px;
        height: 246px;
    }
    .gr-rp-h{
        position: absolute;
        right: 100px;
    }
    .gr-rp-h img{
        height: 250px;
        width: 769px;
    }
    .gr-rp-h p{
     position: absolute;
        top: 100px;
        left: 140px;
        color: white;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        font-family: 'Poppins',
    }
    