@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Poppins:wght@300;600&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.apply-h{ 
    background-image: url(../../assets/Journal.png);
    height: 340px;
}
.apply-h h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
}
.home-about-dot-a {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.home-about-dot-a p{
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.home-about-dot-a img {
    width: 6px;
    height: 6px;
}


.search-h h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
}
.soft-c{
    margin-top: 80px;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}
.sub-h1 h1{
    font-family: 'Poppins', sans-serif; 
    font-size: 40px;  

}
.sub-d{
    margin-top: 40px;
    display: flex;
}
.sub-d p{
    font-family: 'Poppins', sans-serif;   
}
.job{

}
.btn-ab{
    display: flex;
    margin-top: 30px;
}
.btn-ab p{
    font-family: 'Poppins', sans-serif;

}

.btn-ab button{
    background-color: orangered;
    border-radius: 8px;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;   

}
.sa-s{
    margin-left: 40px;
}
.sa-s p{
    position: relative;
    left: 50px;
    bottom: 14px;
}
.sa-s img{
    position: relative;
    top: 10px;
}
.sh-i{
   position: relative;
   left: 90px;
   top: 10px;
}
.sh-s{
    position: relative;
    left: 150px;
    bottom: 14px;
}
.img-s{
    height: 20px;  
}
.des-a{
    margin-top: 30px;
}

.des-a h3{
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600px;

}
.sh-r {
    position: relative;
    left: 200px;
    top: 10px;
}
.sh-rr{
    position: relative;
    left: 260px;
    bottom: 14px;
}
.fir-p{
    margin-right: 500px;
 } .fir-p{
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
  }
  .fir-p p span{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
  }
.job{
    position: relative;
    left: 70px;
    bottom: 40px;
}
  .linee {
    position: relative;
    left: 40px;
    bottom: 7px;
  }
  .lineee {
    position: relative;
    left: 90px;
    bottom: 7px;
  }
  .fullt {
    position: relative;
    left: 130px;
    bottom: 40px;
  }
.sec-p{
    margin-top: 3.125rem;
    margin-right: 10.5rem;
    
}
.sec-p p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  font-weight: 600px;
  text-align: justify;
  line-height: 30px;
}




.more-j h3{
    position: relative;
   top:30px;
    
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
}
.logo-ar {
  width: 351px;
  height: 307px;
  opacity: 20%;
}

.card-styling{
    display:flex;
    flex-direction:column;
     gap:10px;
     margin-right:10%;
}

.btn-search{
    height:40px;
    text-align: center;
    padding:0.3%;
    width:10%;
    background-color:#F76C24;
    color:#ffffff;
    justify-content: flex-end;
    cursor:pointer;
    border-radius: 6px;
    font-size:15px;
    font-weight:600;
 font-family: 'Poppins', sans-serif;
}



  .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #F76C24 !important;
      color: #fff;
  }

.btn-search button{
    margin-right: 15px;
    margin-top: 4px;
}

#id {
    position: relative;
    left: 60px;
    bottom: 24px;
   
    width:"20px";
    height:"20px";
}

.text{
    margin-top:6%;
}

.text h2{
    font-family: 'Poppins', sans-serif;
    font-weight:900;
    font-size:32px;
    

}

#text-placeholder {
    font-size: 14px;
}

.card-p {
     display:flex;
     font-size:12px;
     font-weight:700;
     gap:20px;
     margin-top:10px;
     
     

}
.card-para{
    margin-top:2%;
    font-size: 12px;
    font-weight:600;
    color:#2F3045;
    font-family: 'Poppins' , sans-serif;
}
.card-para span{
    font-weight: 600;
    text-decoration:none;
    color:black;
}

.post h6{
    color:#2F3045;
    font-size: 9px;
    margin-left:80%;

}

#id-save {
    margin-top:-5px;
    margin-left:40%;
}

.heading{
    border-left : 2px solid #ccc;
    padding-left:10px;
    position:relative;


}

#head-line{
    border-top:8px solid;
    border-image: linear-gradient(to left, #F76C24, #530948) 1 0 0 0;
    position:relative;
    border-radius:6px;
    
    margin-top:-10px;
    


}
.svd-j{
    margin-left: 130px;
}
.svd-j p{
    position: relative;
    bottom: 40px;
    left: 400px;
}
.svj-s{
    position: relative;
    bottom: 40px; 
    left: 420px;   
}
.img-sq{
    position: relative;
    bottom: 40px;
    left: 450px;
    margin-right: 15px;
}
.input-inp input {
    height: 30px;
    width: 700px;
    font-family: 'Poppins' , sans-serif;
    
}
@media screen and (max-width: 769px) {
    .logo-ar{
        height: 200px;
        width: 200px;
    }

    .card-styling img{
        position: relative;
        left: 100px;
    }
    .soft-c{
        flex-direction: column-reverse;
    }
}
 