@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Poppins:wght@300;600&family=Roboto&display=swap');

.erp-header-e{ 
    background-image: url(../../../assets/Journal.png);
    background-position: center;
    height: auto;
    padding-bottom: 50px;
}
.home-about-dot-e {
    display: flex;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

.home-about-dot-e p{
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.home-about-dot-e img {
    width: 6px;
    height: 6px;
}


.erp-header-e h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
}

.erp{
    
    
}


.erp-blog-e{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    margin-bottom: 70px;
}

.erp-description-e{
    background-color: #ffffff;
    width: 70%;
    margin-right: 50px;
}

#dsc-erp{
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    font-size: 37px;
    font-weight: 600px;

}
.about-erp-e h6{
    font-family: 'Poppins', sans-serif;
    color: #ff4500;
    font-size: 16px;
}
.about-erp-e-erp h6{
    font-family: 'Poppins', sans-serif;
    color: #ff4500;
    font-size: 16px;
}
.paragraph-erp-e p{
    line-height: 30px;
    margin-top:15px;
    font-family: 'Poppins', sans-serif;
    color: 
    rgba(119, 120, 136, 1);
    font-size: 0.9rem;
}


.button-readblog-erp button{
    cursor: pointer;
    margin-right: 120px;
    border-radius: 7px;
    background-color: #F76C24;
    color: #fff6f6;
    border: none;
    font-weight: 520;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 55px;
   
}

.button-readblog-erp {
    text-align: center;
    margin-top: 50px;
    margin-right: 330px;
}

.arrow-top-erp{
    position: relative;
    top: 2.5px;
    left: 2px;
}

.person-clander-erp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    margin-top: 20px;
    gap:20px;
}

.person-erp,.calender-erp{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #61657E;
    gap:7px;
}

.ourBlog-erp{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 75px;
    margin-bottom: 30px;

}

.ourBlog-erp .ourBlog-description-erp{
    width: 50%;
}

.ourBlog-para-erp p{
    color: #777888;
    font-family: 'DM Sans', sans-serif;
    line-height: 25px;
    font-weight: 700px;
    font-size: 14px;
    text-align: justify;
}

 .ourBlog-description-erp ul li{
    color: #777888;
    font-family: 'DM Sans', sans-serif;
    line-height: 25px;
    font-weight: 700px;
    font-size: 14px;
    text-align: left;
}

.ourBlog-description-erp ul img{
    width: 750px;
    padding-top: 15px;
}
.ourBlog-description-erp h4,span{
    text-decoration: underline;
}


.ourBlog-from-erp  {
    background-color: #ffffff;
    width: 410px;
    height: 490px;
    border-radius: 5px;
    box-shadow: 2px 3px 15px rgb(126, 124, 124);
}    

.in-form-erp{
    text-align: center;
}
.form-o-erp h1{
    font-family: 'Poppins', sans-serif;
    color: #2F3045;
    font-size: 25px;
    font-weight: 300px;
    text-align: center;
    padding-top: 25px;
   
}

.form-ob-erp{
    margin-top: 30px;
    height: 30px;
    display: block;
    }
    
    .form-ob-erp input{
    padding: 6px;
    width: 350px;
    height: 50px;
    border: 1px solid #CCCCCC;  
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    }

    .form-ob-erp select{
    padding: 6px;
    width: 350px;
    height: 50px;  
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    }

    .form-ob-erp option{
        font-family: 'DM Sans', sans-serif;
    }

    .button-submi-erp{
    margin-top: 120px;
    }
    .image-erp-e img{
        height: 500px;
    }
    
    .button-submi-erp button{
    cursor: pointer;
    padding: 8px 22px;
    border-radius: 4px;
    background-color: #ff4500;
    color: #fff6f6;
    border: none;
    width: 350px;
    font-family: 'Roboto', sans-serif;
    }

    .res-erp{
        background-image: url(../../../assets/Mask-group.png);
        height: 400px;
        margin-bottom: 100px;
    }   
.feat-s h6{
    text-align: center;
    color: orangered;  
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
}

.hea-p p{
    position: relative;
    /* font-size:7px; */
    padding:20%;
    bottom:40px;
    
}

.he{
    position: relative;
    text-align: center;
    color: white;
    font-size: 8px;
    font-family: 'Poppins', sans-serif;
    margin-top:-200px;
    }
    
    .he h4{
        margin-top:10%;
      font-size:14px;
      font-weight:600;
    }

#font{
    font-size:11px;
  }

.feat-s p{
    font-size: 30px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
     text-align: center;
     font-family: 'Poppins', sans-serif;
}
.card-e{
    display: flex;
    margin-left: 100px;   
    cursor: pointer;
    
}
.card-e img{
          height: 283px;
          width: 230px;
      margin: 30px; 
      margin-top: 20px;  
}
.card-e img:hover{

    filter: brightness(50%);
   cursor: pointer;
}
.b-e img{
    width:70%;
    height:70%;
  }

.card-e h4{
    position: relative;
    bottom: 165px;
  text-align: center;
margin-right: 58px;
  color: white;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.card-e p{
    position: relative;
    bottom: 165px;
margin-left:50px;
margin-right: 120px;
  color: white;
    font-size: 11px;
    /* text-align: justify; */
    font-family: 'Poppins', sans-serif;
}
.setence-drs h6{
  text-align: center;color: #F76C24;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
.setence-drs p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.setence-drs h5{
    line-height: 80px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.setence-drs{
    /* margin-bottom: 100px; */
    margin-top: 200px; 
}
.point {
  position: relative;
  top: 8px;
  left: 30px;

} 
.line{
     position: relative;
    top: 8px;
    right: 10px;
    width: 100%; 
}
.sentence-dr{
    margin-top: 80px;
    margin-left: 100px;
}
.fin p{
    position: relative;
    left: 80px;
    bottom: 55px;
    margin-right: 50px;
    text-align: start;
    font-size: 14px;
    display: none;
}
.fin {
    padding-top: 40px;
    transform:scale(0.9);
    background: transparent;
    border-radius: 4px;
    position: relative;
    transition: 1s all ease;
  }
  
.fin h5{

    position: relative;
    left: 80px;
    bottom: 50px;
}
.fin:hover{
    cursor: pointer;
    color: #ffffff;
    background: #F76C24;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F76C24, #530948);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F76C24, #530948); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.fin:hover p{
    display: block;
}
.head-i{

    text-align: center;
    margin-bottom: 80px;
   
}
.head-i h3{
    font-size: 40px;
    margin-bottom: 130px;
    font-family: 'Poppins', sans-serif;
}
.indst {
    display: flex;
}
.gr-t img{
height: 331px;
width: 544px;
margin-top: 110px;
}
.gr{
    position: absolute;
}
.gr-l {
  position: relative;
  margin-top: 45px;
  left: 800px;
}
.gr-l img{
        width: 201px;
        height: 165px;
}
.gr-li img{
        height: 535px;
        width: 400px;
}

.gr-li img:hover{
    
}
.gr-r{
    position: relative;
    top: 270px;
    right: 140px;
}
.gr-r p{
    position: absolute;
    top: 110px;
    left: 100px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.gr-r img{
    height: 268px;
    width: 769px;
}
.gr-li {
    position: absolute;
    right: 900px;
}
.gr-li p{
    position: absolute;
    top: 200px;
    left: 00px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.gr-li-n {
    position: absolute;
    right: 100px;
}
.gr-li-n p{
    position: absolute;
    top: 100px;
    left: 130px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.gr-li-n img{
    width: 390px;
    height: 246px;
}
.gr-rp{
    position: absolute;
    right: 520px;
}
.gr-rp img{
    height: 245px;
    width: 351px;
}
.gr-rp p{
 position: absolute;
    top: 100px;
    left: 60px;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins',
}
.whole-e{
    margin-bottom: 200px;
    transform:scale(0.9);
}

@media(max-width:1404px){
    .res-erp{
        height: auto;
        padding-bottom: 50px;
      }
}
@media (max-width: 1360px) {
    .erp-blog-e {
      transform: scale(0.9);
    }
  }
  @media (max-width: 1272px) {
    .erp-blog-e {
      transform: scale(1);
    }
    .image-erp-e img {
      height: 30rem;
     
    }
    .line{
        width: 100%;
    }
    .whole-e{
        width: 100%;
    }
  
}

@media (max-width: 1242px) {
    .image-erp-e img {
      height: 28rem;
    }
    .about-erp-e h6 {
      transform: scale(0.8);
    }
    .about-erp-e h2 {
      line-height: 53 px;
      margin: 10px 0;
    }
    .line{
        width: 100%;
    }
    .whole-e{
        width: 100%;
    }
    .indst{
        
        display: flex-none;
    }
  }

  @media (max-width: 1172px) {
    .image-erp-e img {
      height: 28rem;
    }
    .about-erp-e h6 {
      transform: scale(0.8);
      padding: 0 0;
    }
    .about-erp-e h2 {
      line-height: 53 px;
      margin: 10px 0;
    }
    .line{
        width: 100%;
    }
    .whole-e{
        width: 100%;
    }
    .indst{
       
        display: flex-none;
    }

  }
  @media (max-width: 1040px) {
    .image-erp-e img {
      height: 25rem;
      margin: 0 -2rem 0 2rem;
    }
    .about-erp-e h6 {
      transform: scale(0.8);
      margin: 0 1rem;
      padding: 0 0;
    }
    .about-erp-e h2 {
      line-height: 53 px;
      margin: 10px 0;
    }
    .line{
        width: 100%;
    }
    .whole-e{
        width: 100%;
    }
    .indst{
        
        display: flex-none;
    }
  
  }
 @media (max-width: 884px) {
    .erp-blog-e {
      flex-direction: column-reverse;
      height: auto;
    }
    .image-erp-e img {
      height: 30rem;
      margin: 0;
      margin-bottom: 5rem;
      padding: 0;
    }
    .about-erp-e h6 {
      transform: scale(0.8);
      padding: 0;
    }
    .about-erp-e h2{
      line-height: 53 px;
      margin: 0 0;
    }
    .line{
        width: 100%;
    }
    .whole-e{
        width: 100%;
    }
    .indst{
       
        display: flex-none;
    }
    .erp-description-e{
        text-align: center;
        margin-right: 0px;
        width: auto;
    }
    #dsc-erp{
        font-family: 'Poppins', sans-serif;
        padding-top: 10px;
        font-size: 37px;
        font-weight: 600px;
    }
  }
 @media (max-width: 560px) {
    .image-erp-e img {
      height: 25rem;
      margin: 0;
      margin-bottom: 5rem;
    }
    .about-erp-e h6 {
      transform: scale(0.8);
      padding: 0 0;
    }
    .line{
        width: 100%;
    }
    .whole-e{
        width: 100%;
    }
    .indst{
        
        display: flex-none;
    }
  }

    @media (max-width: 465px) {
        .image-erp-e img {
          height: 20rem;
          margin: 0;
          margin-bottom: 5rem;
        }
        .about-erp-e h6 {
          transform: scale(0.8);
          padding: 0 0;
          width: 400px;
          margin-right: 35px;
        }
        .line{
            width: 100%;
        }
        .whole-e{
            display: none;
        flex-direction: column-reverse;
        display: flex-none;
        }
       
      }
