@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,400;1,9..40,400&display=swap');

.footer {
    background-image: url(/src/assets/footerimg.png);
}

.footer-item {
    display: flex;
    padding: 50px 100px;
	gap: 100px;	
	font-family: 'Poppins', sans-serif;

}
.footer-contact{
	margin-left:-20px;
}

.logo-image {
    width: 280px;
    text-align: right;
	background-color: #ffffff;
	border-radius: 5px;
}

.copyright {
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    margin-bottom: 20px;
}

.copyright span a {
    color: orangered;
    text-decoration: none;
}


.services h4 {
color: #ffffff;
text-align: left;	
margin-left: -40px; 

	
}
.links h4{
color: #ffffff;
text-align: left;	
margin-left: -40px; 
font-size: 16px;
 

}

.links ul li,
.services ul li,
.footer-contact p {
    color: #d7d7d7;
    line-height: 30px;
	font-size: 12px;
}
.logo-footer{
	width: 300px;
}
.footer-contact h4,
.logo-footer p,
.logo-footer h5 {
    color: #ffffff;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
	
}
#footer-p-id{
	font-size: 12px;
}
#contact-address{
	line-height: 25px;
	font-family: 'Poppins', sans-serif;
}
.logo-footer p {
    text-align: start;
	font-size: 12px;
	line-height: 30px;
}
.footer-p{
	font-size: 12px;
}

.logo-footer ul {
    padding: 0;
    display: inline-block;
    list-style-type: none;
	font-size: 12px;
}

.logo-footer ul:after {
    display: table;
    clear: both;
    content: "";
}

.logo-footer li {
    float: left;
    margin: 0 2px 0 0;
    padding: 0px;
    margin-left: 60px;
	font-size: 12px;
}

.p-tag span
 {
	font-family: 'Poppins', sans-serif;
    color: #FA6220;
	font-size: 13px;
	margin-top:-1px;
	text-decoration: none;
}

.follow-us h5 {
    font-size: 15px;
	color: #FA6220;
	margin-top: 30px;
	font-size: 12px;
}

.follow-us ul {
    display: flex;
    /* align-items: center;  */
	margin-top: -20px;
	margin-left: 50px;
	font-size: 12px;
	
}

.follow-us li {
    /* margin-right:2px; */
	margin-left: 25px;
	display: flex;
	font-size: 12px;
}




.footer-contact {
    color: #ffffff;
	/* margin-left: -90px; */
}

.footer-contact h4 {
     font-size: 16px;
}

.p-tag {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 20px;
	font-size: 15px;
	margin-top:10px;
}

.p-tag p{
	color: #d7d7d7;
	font-size: 14px;
	text-align: left;
	margin-top: -2px;
	font-family: 'Poppins', sans-serif;
}
.p-tag h6{
	color: #d7d7d7;
	font-size: 14px;
	text-align: left;
	margin-top: -2px;
	font-family: 'Poppins', sans-serif;
	margin-left: 10px;
	text-decoration: none;
	font-weight: 300;
}

.input {
    display: flex;
	padding:0px 12px;
	margin-top: 10px;
	border: none;
	height: 35px;
	width: auto;
	border-radius: 3px 0 0 3px;
}

.button {
    display: flex;
	background-color: #FA6220;
	margin-left: 180px;
	margin-top: -35px;
	padding:5px 16px;
	color: white;
	border: none;
	height: 35px;
	width: auto;
	border-radius: 0 3px 3px 0;
}

.services ul {
	margin-left: -50px; 
	text-align: left;
	font-size: 12px;

}

.services ul li {
   margin-bottom:-30px;
   font-size: 12px;
}





.links ul {
	margin-left: -40px;
	text-align: left;
}

.links ul li {
    margin-right:0px;
	margin-bottom: -10px;
}



.logo-footer p {
    font-size: 17px;
	color: #d7d7d7;
}




