@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.journal-header{ 
    background-image: url(../../assets/Journal.png);
    background-position: center ;
    height: 340px;
}

.home-about-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.home-about-dot p{
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.journal-header h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    
}

.journal-litag ul{
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 19px;
    /* margin-left: 50%; */
    text-align: center; 
    justify-content: center;
    display: flex;  
}

.journal-litag span{
    color: #F76C24;
    size: 10px;
    list-style-type: circle;
}



.journal-litag li img{
    text-align: center;
    padding-left: 17px;
}

.journal-blog{
    display: flex;
}

.journal-description{
    padding: 60px 30px 20px 70px;
    background-color: #ffffff;
    width: 600px;
}

.journal-description h2{
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    font-weight: 600;
    font-size: x-small;
    line-height: 50px;
    
}



.button-machine button{
    cursor: pointer;
    padding: 8px 22px;
    border-radius: 4px;
    background-color: #FFEFE7;
    color: #FE5D14;
    border: none;
    margin-left:-8px;
    font-family: 'Poppins', sans-serif;
}


.img-journal-bg{
   
    padding-left: 80px

}
.img-journal-bg img {
    border-radius: 10px ;
}







.button-readblog button{
    cursor: pointer;
    align-items: center;
    padding: 6px 18px;
    border-radius: 5px;
    background-color: #F76C24;
    color: #fff6f6;
    border: none;
    font-weight: 510;
    font-size: small;
    font-family: 'Poppins', sans-serif;
    width: 120px;
    height: 20px;
    margin-top: -30px;
}

.button-readblog {
    text-align: center;
    margin-top: 20px;
    margin-right: 330px;
}

.arrow-top{
    position: relative;
    top: 2.5px;
    left: 2px;
}

.person-clander{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    margin-top: 20px;
    gap:10px;
}

.person,.calender{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #61657E;
    gap:2px;
    
    
}
.person,.calender p {
    margin-top: 20px;
    font-size: x-small;

}
 .person img {
    width:12px;
    margin-top: -18px;
 }
.calender img {
    width: 15px;
}

@media (max-width:1040px){
    .img-journal-bg img {
        transform: scale(0.8);
    }

    .journal-blog {
        transform: scale(0.9);
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:941px) {
    .journal-blog {
        transform: scale(0.9);
        display: flex;
        flex-direction: column;
    }

}


@media (max-width: 877px) {
    .img-journal-bg img {
        margin-right: 10% ;
        
    }

    .journal-blog {
        margin: 2% ;
        display: flex;
        flex-direction: column;
       
    }
 .journal-description h2 {
    text-align: left ;
    font-size: small;
 }


}


@media (max-width:888px) {
    .journal-blog{
        margin: 5% ;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:690px){
    .journal-blog{
        margin: 5%;
    }
    
    
}

@media (max-width:765px) {
    .journal-blog{
        transform: scale(0.8);
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 685px) {
    .journal-blog {
        margin: 5% ;
    }

}

@media (max-width:375px){
    .journal-blog{
        width: fit-content;
        text-align: center;
        
    }

    .img-journal-bg img{
       align-content: center;
    }

    
    
}



